<div class='main_text_field'>
	<h1>Contact Information</h1><hr />

	<p>For all inqueries about Powerstorm, please contact Patrick Yoho: <a href="mailto:pyoho11@my.whitworth.edu">pyoho11@my.whitworth.edu</a></p>
	</div>
