<div class='main_text_field'>
	<h1>About PowerStorm</h1><hr />

	<p>Powerstorm aggregates electricity usage information
	and presents electricity usage and analyzed data in a
	meaningful and stimulating way.</p><hr />

	<h3>Clients</h3>
	<p>He has expressed interest in having electricity usage
	metrics available in a presentable format for use analyzing
	the effectiveness of changes to how buildings are operated.</p>
	<p>paTrick YoHo</p>
	<ul>
		<li>The database application created will serve as the
		foundation for his research study.</li>

		<li>His research focuses on whether eco-visualizations of
		electricity usage data in the dorms on Whitworth campus
		will have an effect on overall power usage.</li>

		<li>He will require real-time and historical power data from
		Whitworth's smart meters.</li>

		<li>The backend and the interface to that backend provided
		as part of this application will serve as the backend for his
		study.</li>
	</ul>
</div>
