<%= javascript_include_tag "https://www.google.com/jsapi?key=ABQIAAAAI7rPaLrZl7leSmpOaDtSOxSG1Mx8gbiFAvvF7yNngCyk8ZA9PxTh55PlIvYX2xi5B0dKqNcI8qsneQ" %>
<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "jquery-ui-1.8.16.custom.min.js" %>
<%= javascript_include_tag "advanced_building.js" %>

<script language="javascript">
	google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(draw_chart);
		
	window.onresize = function(event) {
		draw_chart();
		//$j("#Body").css("height", String(window.offsetHeight) + 'px');
	}
</script>


<div class="wrapper">
	<div class="chart_wrapper">
		<div id="advanced_chart"></div>
	</div>
	<div id="tabs">
		<!-- Tab Button Titles -->
		<ul>
			<li><a href="#reduction_stats">Reduction Percentages</a></li>
			<li><a href="#day_stats">Today's Usage</a></li>
			<li><a href="#month_stats">Month's Usage </a></li>
			<li><a href="#year_stats">Year's Usage</a></li>
			<li><a href="#all_time_stats">All-Time Usage</a></li>
		</ul>
		<!-- Tab Content Divs -->
		<div id="reduction_stats" class="info_table">
			<table class="usage_info">
				<tr>
					<td>Today vs.Yesterday:</td>
					<td id="v_yesterday"></td>
				</tr>
				<tr>
					<td>This Month vs. Last Month:</td>
					<td id="v_last_month"></td>
				</tr>
				<tr>
					<td>This Month vs. This Month Last Year:</td>
					<td id="v_this_month_last_year"></td>
				</tr>
				<tr>
					<td>This Year vs. Last Year:</td>
					<td id="v_last_year"></td>
				</tr>
			</table>
		</div>
		<div id="day_stats" class="info_table">
			<table class="current_usage_info">
				<tr>
					<td>Current Usage:</td>
					<td id="day_current_usage"></td>
				</tr>
				<tr>
					<td>Day Usage:</td>
					<td id="day_usage"></td>
				</tr>
				<tr>
					<td>Use/Squarefoot:</td>
					<td id="day_use_sqft"></td>
				</tr>
				<tr>
					<td>Use/Occupant:</td>
					<td id="day_use_occupant"></td>
				</tr>
				<tr>
					<td>Green-House</br>Gas Emissions:</td>
					<td id="day_green_house"></td>
				</tr>
			</table>
		</div>
		<div id="month_stats">
			<table class="usage_info">
				<tr>
					<td>Current Usage:</td>
					<td id="month_current_usage"></td>
				</tr>
				<tr>
					<td>Month Usage:</td>
					<td id="month_usage"></td>
				</tr>
				<tr>
					<td>Use/Squarefoot:</td>
					<td id="month_use_sqft"></td>
				</tr>
				<tr>
					<td>Use/Occupant:</td>
					<td id="month_use_occupant"></td>
				</tr>
				<tr>
					<td>Green-House<br>Gas Emissions:</td>
					<td id="month_green_house"></td>
				</tr>
			</table>
		</div>
		<div id="year_stats">
			<table class="usage_info">
				<tr>
					<td>Current Usage:</td>
					<td id="year_current_usage"></td>
				</tr>
				<tr>
					<td>Year Usage:</td>
					<td id="year_usage"></td>
				</tr>
				<tr>
					<td>Use/Squarefoot:</td>
					<td id="year_use_sqft"></td>
				</tr>
				<tr>
					<td>Use/Occupant:</td>
					<td id="year_use_occupant"></td>
				</tr>
				<tr>
					<td>Green-House<br>Gas Emissions:</td>
					<td id="year_green_house"></td>
				</tr>
			</table>
		</div>
		<div id="all_time_stats">
			<table class="usage_info">
				<tr>
					<td>Current Usage:</td>
					<td id="all_time_current_usage"></td>
				</tr>
				<tr>
					<td>All-Time Usage:</td>
					<td id="all_time_usage"></td>
				</tr>
				<tr>
					<td>Use/Squarefoot:</td>
					<td id="all_time_use_sqft"></td>
				</tr>
				<tr>
					<td>Use/Occupant:</td>
					<td id="all_time_use_occupant"></td>
				</tr>
				<tr>
					<td>Green-House<br>Gas Emissions:</td>
					<td id="all_time_green_house"></td>
				</tr>
			</table>
		</div>
	</div>
</div>