#canvas {
  
  /*height: 493px;*/
  /*left: 0px;
  margin: 0px 0 0 0px;
  position: absolute;
  top: 0px;*/
  width:75%;
  height:100%;
  
  margin-left:auto;
  margin-right:auto;
  
  /*width: 746px;*/
}

#paper {
/*
  position:absolute;

  left:13.3%;*/
  /*height: 488px;*/
  /*left: 13px;
  position: absolute;
  top: 5px;*/
  /*width: 746px;*/
}

#map_image {
  opacity:.45;
  filter:alpha(opacity=40);
  height:auto;
  width:auto;
  
}

.image_wrapper {
	height:100%;
	width:746px;		/* used to make width that of image for now (change for dynamic scaling) */
	border-right: 1px solid gray;
	padding-right:10px;
}

.buildings {
  display: none;
  /*height: 400px;*/
  overflow: auto;
  position:relative;
  left:790px;
  top:-100%;
  /*left:900px;*/
  /*left:70%;*/
  /*float:left;*/

  height:200px;
  min-width:20%;
  width:20%;
  /*right: -320px;
  top: 0;
  width: 300px;*/
}

.buildings h2 {
  text-align: left;
}
			

.building_info {
  font-size: 18px;
}

.paper_wrapper {
  height: 100%;
  width: 770px;
  border-right:1px solid gray;
}
